    .vector-feature-main-menu-pinned-disabled.vector-toc-not-available .mw-page-container-inner,
    .vector-feature-main-menu-pinned-disabled.vector-feature-toc-pinned-clientpref-0 .mw-page-container-inner {
        grid-template-columns: minmax(0, 1fr);
        grid-template-areas: 'siteNotice' 'pageContent' 'columnStart' 'footer'
    }

    .vector-feature-main-menu-pinned-disabled.vector-toc-not-available .mw-page-container-inner .mw-body,
    .vector-feature-main-menu-pinned-disabled.vector-feature-toc-pinned-clientpref-0 .mw-page-container-inner .mw-body {
        justify-content: center
    }